
@white:                 #fff;
@btnBackground:                     @white;

.thumbnail {
    position: relative;  
}

.thumbnail .delete {
    position: absolute;
    left: 5px;
    opacity: 0;
}

.thumbnail .like {
    position: absolute;
    right: 65px;
    opacity: 0;
}

.thumbnail .save {
    position: absolute;
    right: 5px;
    opacity: 0;
}